.button {
  background: #ff4820;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  width: max-content;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 17px;
  }
}
