.header {
  position: relative;
}

.header-background-gradient {
  position: absolute;
  width: 1013px;
  height: 1013px;
  left: -336px;
  top: -305px;
  background: #002853;
  filter: blur(282px);
  z-index: 0;
}
.header-background-gradient-2 {
  position: absolute;
  width: 701px;
  height: 496px;
  left: 1127px;
  top: 500px;

  background: #072d56;
  filter: blur(282px);
}
